* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
  color: #000000;
}

.titolo {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}
.titolo:hover {
  text-decoration: underline;
  color: #000000;
}

.pointer {
  cursor: pointer;
}

.destra {
  position: absolute;
  right: 0px;
}

.pass-input {
  background-color:white;
  color: #000000;
}
.pass-input:focus {
  background-color: white;
  color: #000000;
  box-shadow: none;
  border-color: #000000;
}

.foto {
  width: 30%;
  height: auto;
  border-radius: 28px;
  border: none;
  box-shadow: 0px 0px 18px #0a57ca85;
  margin-left: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::-moz-selection {
  color: white;
  background: #000000;
}

::selection {
  color: white;
  background: #000000;
}

textarea {
  resize: none;
  overflow: auto;
}
